from __future__ import annotations
from dataclasses import dataclass, field
from typing_extensions import Set, List
{% for import_statement in imports %}
{{ import_statement }}
{% endfor %}

{% for wrapped_class in stub_classes %}
@dataclass({{ wrapped_class.dataclass_args }})
class {{ wrapped_class.name }}({{ wrapped_class.bases|join(', ') }}):
    {% for wrapped_field in wrapped_class.fields %}
    {{ wrapped_field.name }}: {{ wrapped_field.type_name }}{{ wrapped_field.assignment }}
    {% endfor %}
    {% if not wrapped_class.fields %}...{% endif %}

{% endfor %}
{% for taker_name, info in role_takers.items() %}
@dataclass
class {{ info.role_for_name }}({{ taker_name }}):
    {{ info.taker_field_name }}: {{ taker_name }}
    {% for wrapped_field in info.inherited_fields %}
    {{ wrapped_field.name }}: {{ wrapped_field.type_name }} = field(init=False)
    {% endfor %}

{% for role_info in info.roles %}
@dataclass({{ role_info.dataclass_args }})
class {{ role_info.name }}({{ info.role_for_name }}):
    # Original Owner of the {{ role_info.introduced_field.name }} field
    {{ role_info.introduced_field.name }}: {{ role_info.introduced_field.type_name }}{{ role_info.introduced_field.assignment }}

{% endfor %}
{% endfor %}
